@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
main{
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url("city-road.svg"), url("background.svg");
    background-repeat: 1;
    background-size: contain;
    color: #333;
    font: tahoma;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
#background-wrap{
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;

}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f1f1f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}
.logo{
    cursor: pointer;
}
.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: aqua;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 0.1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.car{
    width: 400px;
    transform: translateX(0%);
    position: relative;
    margin-top: 85px;
    z-index: 2;
}
.car img{
    width: 100%;
    animation: red-car 1s linear infinite, red-car-drive 25s linear infinite;
}
.truck{
    width: 400px;
    transform: translateX(0%);
    position: relative;
    margin-top: -380px;
    z-index: 1;
}
.truck img{
    width: 100%;
    animation: red-car 1s linear infinite, yellow-truck-drive 20s linear infinite;
}
@keyframes red-car {
    0%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
    100%{
        transform: translateY(-1px);
    }
    
}
@keyframes red-car-drive{
    0%{margin-left: 1800px;}
    100%{margin-left: -1800px;}
}
@keyframes yellow-truck-drive{
    0%{margin-left: -1000px;}
    100%{margin-left: 1800px;}
}

@keyframes animateCloud{
    0%{margin-left: -1000px;}
    100%{margin-left: 100%;}
}

.x1{
    animation: animateCloud 35s linear infinite;
    transform: scale(0.65);
}
.x2{
    animation: animateCloud 20s linear infinite;
    transform: scale(0.3);
}
.x3{
    animation: animateCloud 30s linear infinite;
    transform: scale(0.5);
}
.x4{
    animation: animateCloud 18s linear infinite;
    transform: scale(0.4);
}
.x5{
    animation: animateCloud 25s linear infinite;
    transform: scale(0.55);
}

.cloud{
    background: whitesmoke;
    background: linear-gradient(top, white 5%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white',endColorstr='#f1f1f1',GradientType=0);
    border-radius: 100px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    height: 120px;
    position: relative;
    top: -500px;
    width: 350px;
}

.cloud:after, .cloud:before{
    background: whitesmoke;
    content: '';
    position: absolute;
    z-index: -1;
}
.cloud:after{
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud:before{
    border-radius: 200px;
    height: 180px;
    width: 180px;
    right: 50px;
    top: -90px;
}